.main-background {
	background-color: antiquewhite;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px;
	border: none;
	outline: none;
}

.img-size {
	min-width: 200px;
	padding: 0px;
	margin: 0px;
	border: none;
	outline: none;
}
