<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="films" connectionString="server=localhost;database=scrubflix;uid=scrubflix;pwd=1qaz2wsx;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.10.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <!-- wait 5 mins and allow files upto 50MB in size to be uploaded to server -->
    <httpRuntime targetFramework="4.5.2" executionTimeout="300" maxRequestLength="51200"/>
    <!-- do not refresh screen position on postback -->
    <pages maintainScrollPositionOnPostBack="true"/>
  </system.web>
</configuration>